<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lzs.androidtest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".dagger.DaggerActivity">
        </activity>
        <activity android:name=".FilePickerActivity"/>
        <activity android:name=".rxjava.RxActivity"/>
        <activity android:name=".eventbus.EventActivity_1"/>
        <activity android:name=".eventbus.EventActivity_2"/>
        <activity android:name=".joda.JodaActivity"/>
        <activity android:name=".timer.TimerActivity"/>
        <activity android:name=".dialog.DialogActivity"/>
        <activity android:name=".ConstraintActivity"/>
        <activity android:name=".picasso.PicassoActivity"/>
        <activity android:name=".rxdownload.DownloadActivity"/>
    </application>

</manifest>